<div class="plants">
  <div class="container">
    <div class="row">
      <% @plants.each do |p| %>
          <div class="col-md-4">
            <div class="card">
              <div class="card-image">
                <img class="img-responsive" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%282%29.jpg">
                <span class="card-title"><%= p.name %></span>
              </div>

              <div class="card-content">
                <!--Title-->
                <h5 class="card-title"><b><%= p.common_names %></b></h5>
                <!--Text-->
                <p class="card-text"><%= p.description %></p>
              </div>

              <div class="card-action">
                <%= link_to 'More info', plant_path(p), class: 'btn' %>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>